<div class="navbar-wagon">
  <!-- Logo -->

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
       <a href="" class="navbar-wagon-item navbar-wagon-link">Add new</a>

      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/100531-200.png" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Cocktails</a>



    <!-- Profile picture with dropdown list -->

    </div>
  </div>

